<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %> - PicPix2</title>
    <link rel="stylesheet" href="/styles.css" />
    <% (typeof headCssPaths !== 'undefined' ? headCssPaths : []).forEach((href) => { %>
      <link rel="stylesheet" href="<%= href %>" />
    <% }) %>
  </head>
  <body class="<%= pageClass || '' %>">